@font-face {
  font-family: "iconfont"; /* Project id 3847355 */
  src: url('//at.alicdn.com/t/c/font_3847355_se0qr48n2ye.woff2?t=1713627253819') format('woff2'),
       url('//at.alicdn.com/t/c/font_3847355_se0qr48n2ye.woff?t=1713627253819') format('woff'),
       url('//at.alicdn.com/t/c/font_3847355_se0qr48n2ye.ttf?t=1713627253819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-center-focus:before {
  content: "\ebb0";
}

.icon-enter-fullscreen:before {
  content: "\e888";
}

.icon-exit-fullscreen:before {
  content: "\e889";
}

.icon-jian:before {
  content: "\e612";
}

.icon-jia:before {
  content: "\e6aa";
}

.icon-theme:before {
  content: "\e618";
}

.icon-zidingyi:before {
  content: "\e723";
}

.icon-day:before {
  content: "\e77c";
}

.icon-night:before {
  content: "\e784";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-export-json:before {
  content: "\e64e";
}

.icon-import-json:before {
  content: "\e675";
}

.icon-node-collapse:before {
  content: "\e795";
}

.icon-clear-json:before {
  content: "\e680";
}

.icon-node-expand:before {
  content: "\e65f";
}

.icon-node-layout:before {
  content: "\e636";
}

.icon-auto-zoom:before {
  content: "\e6cd";
}

.icon-save-image:before {
  content: "\e6d1";
}

.icon-editor-expand:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e7b3";
}
