@font-face {
  font-family: "iconfont"; /* Project id 3847355 */
  src: url('iconfont.woff2?t=1746868044564') format('woff2'),
       url('iconfont.woff?t=1746868044564') format('woff'),
       url('iconfont.ttf?t=1746868044564') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e642";
}

.icon-language:before {
  content: "\e6c9";
}

.icon-day:before {
  content: "\e839";
}

.icon-night:before {
  content: "\e83e";
}

.icon-execute:before {
  content: "\e674";
}

.icon-auto:before {
  content: "\e988";
}

.icon-center-focus:before {
  content: "\ebb0";
}

.icon-enter-fullscreen:before {
  content: "\e888";
}

.icon-exit-fullscreen:before {
  content: "\e889";
}

.icon-jian:before {
  content: "\e612";
}

.icon-jia:before {
  content: "\e6aa";
}

.icon-config:before {
  content: "\e723";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-export-json:before {
  content: "\e64e";
}

.icon-import-json:before {
  content: "\e675";
}

.icon-node-collapse:before {
  content: "\e795";
}

.icon-clear-json:before {
  content: "\e680";
}

.icon-node-expand:before {
  content: "\e65f";
}

.icon-auto-zoom:before {
  content: "\e6cd";
}

.icon-save-image:before {
  content: "\e6d1";
}

.icon-editor-expand:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e7b3";
}

