@font-face {
  font-family: "iconfont"; /* Project id 3847355 */
  src: url('iconfont.woff2?t=1673230792497') format('woff2'),
       url('iconfont.woff?t=1673230792497') format('woff'),
       url('iconfont.ttf?t=1673230792497') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-theme:before {
  content: "\e618";
}

.icon-zidingyi:before {
  content: "\e723";
}

.icon-Daytimemode-fill:before {
  content: "\e77c";
}

.icon-nightmode-fill:before {
  content: "\e784";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-fullscreen-cancel:before {
  content: "\eb10";
}

.icon-fullscreen-done:before {
  content: "\eb11";
}

.icon-export-json:before {
  content: "\e64e";
}

.icon-import-json:before {
  content: "\e675";
}

.icon-node-collapse:before {
  content: "\e795";
}

.icon-plus:before {
  content: "\e747";
}

.icon-clear-json:before {
  content: "\e680";
}

.icon-node-expand:before {
  content: "\e65f";
}

.icon-node-layout:before {
  content: "\e636";
}

.icon-minus:before {
  content: "\eaf5";
}

.icon-auto-zoom:before {
  content: "\e6cd";
}

.icon-save-image:before {
  content: "\e6d1";
}

.icon-editor-expand:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e7b3";
}

