  //左侧工具导航栏
  .nav-tools {
    min-width: 50px;
    height: 100%;
    z-index: 2;
    background-color: $bg-color;
    .jv-logo {
      width: 50px;
      height: 40px;
    }
    //  工具按钮
    .tool-btns {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      .iconfont {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $color;
        font-size: 20px;
        margin: 5px 0;
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 4px;
        &:hover {
          transform: scale(1.1);
          color: $hover-color;
          background-color: $hb-color;
        }
      }
    }
  }