/* 引入iconfont */
@import '//at.alicdn.com/t/c/font_3847355_flbd5brqtz.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 暗黑模式切换动画 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}
::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
